<!DOCTYPE html>
<html>
  <head>
    <title>Калькулятор</title>
  </head>
  <body>
    <h1>Калькулятор</h1>
    <form action="/result" method="POST">
      <input type="number" name="num1" required>
      <select name="operator">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
      </select>
      <input type="number" name="num2" required>
      <button type="submit">Посчитать</button>
    </form>
  </body>
</html>
